[flake8]
extend-ignore = E203, E266, E501
max-complexity = 18
select = B,C,E,F,W,T4,B9
per-file-ignores =
    */__init__.py: F401
max-line-length = 140
exclude = build,migrations,settings,.eggs,test.py,.aws-sam,tests
# E402: module level import not at top of file
# F403: 'from module import *' used; unable to detect undefined names
# E704: multiple statements on one line (def)
# E701: multiple statements on one line (colon)
# F405: () may be undefined or defined from star import
ignore = E402,F403,E704,E701,F405,E501